<!DOCTYPE html>
<html>
  <head>
    <title>ShindanApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if @current_user.present? %>
      <div>
        <%= link_to 'ログアウト', user_session_path(@current_user), data: { turbo_method: :delete } %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
